.flex {
  display: flex;
  &__justifyContent {
    &_center {
      justify-content: center;
    }
  }

  &__alignContent {
    &_center {
      align-content: center;
    }
  }
}

.pull_right {
  margin-left: auto;
}