.flex {
  display: flex;
  &__justifyContent {
    &_center {
      justify-content: center;
    }
  }

  &__alignContent {
    &_center {
      align-content: center;
    }
  }
}

.flex__item {
  &_justify {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

.pull_right {
  margin-left: auto;
  float: right;
}