* {
  box-sizing: border-box;
}

body {
  font-size: $base;
  font-family: $fontFamily;
  font-weight: $fontLight;
}

table {
  border: 1px solid $primary;
  border-spacing: 15px;
  font-size: $base;
  width: 100%;
}

td {
  padding: 5px;
  border-bottom: 1px solid $primary;
}

.app {
  background-color: $light;
}

.clear__fix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.section {
  padding: 15px 60px;
}

.col-6 {
  width: 50%;
}