* {
  box-sizing: border-box;
}

body {
  font-size: $base;
  font-family: $fontFamily;
  font-weight: $fontLight;
}

.app {
  background-color: $light;
}

.clear__fix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.section {
  padding: 15px 60px;
}