// Sizes

$desktopWidth: 1280px!default;
$tabletWidth: 991px!default;

$headerHeight: 70px!default;
$footerHeight: 50px!default;

$inputHeight: 30px!default;

// Colors

$light: #fffdfb !default;
$primary: #141e22 !default;
$info: #3e6dfe !default;
$danger: #fe3535 !default;

$transparentLight: rgba(255, 255, 255, 0.75)!default;

// Fonts

$base: 14px!default;

$fontFamily: sans-serif!default;

$fontLight: 400!default;
$fontBold: bold!default;


